@import "../../../material/project";

.Footer-text{
    padding-top: 50px;
    text-align: center;
    opacity: 0.8;
    color: $grey;
    margin-bottom: 10px;
}

.Footer-link{
    text-decoration: none;
    color: $grey !important;
    font-weight: 400;
}

.Footer-link:hover{
    text-decoration: underline;
}
